.Nav {
    display: flex;
    justify-content: space-evenly;

    .nav-option {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        color: white;

        .line-one {
            font-size: 10px;
        }

        .line-two {
            font-size: 13px;
            font-weight: 800;
        }
    }
}
