@import '../../../assets/sass/sass-assets.scss';

.BannerButtons {
    button {
        margin-right: 20px;
        cursor: pointer;
        color: white;
        outline: none;
        border: none;
        font-weight: 700;
        border-radius: 2px;
        padding: 8px 30px;
        background-color: rgba(51, 51, 51, .5);

        &:hover {
            color: black;
            background-color: #e6e6e6;
            @include transition(.2s);
        }
    }
}
